<%= turbo_frame_tag message do %>
  <div class="event message">
    <div class="content">
      <div class="summary">
        <p class="m-0 p-0"><em><%= message.user.username %></em>: <%= message.body %></p>
      </div>
    </div>
  </div>
<% end %>