
<h1>Guilds</h1>
<p>You're a member of <%= @guilds.count %> guilds.</p>

<div id="guilds">
  <% @guilds.each do |guild| %>
    <%= render guild %>
    <p>
      <%= link_to "Show this guild", guild %>
    </p>
  <% end %>
</div>

<%= link_to "New guild", new_guild_path %>
