<h1>Editing join request</h1>

<%= render "form", join_request: @join_request %>

<br>

<div>
  <%= link_to "Show this join request", @join_request %> |
  <%= link_to "Back to join requests", join_requests_path %>
</div>
