<p style="color: green"><%= notice %></p>

<h1>Join requests</h1>

<div id="join_requests">
  <% @join_requests.each do |join_request| %>
    <%= render join_request %>
    <p>
      <%= link_to "View join request", edit_guild_join_request_path(guild_id: join_request.guild_id, id: join_request.id) %>
    </p>
  <% end %>
</div>

<%# link_to "New join request", join_request_path %>
