<h3 class="mb-5">Membership Requests</h3>


<% @join_requests.each do |join_request| %>
  <div class="card border shadow bg-body rounded mb-5">
    <div class="card-body">
      <%= render join_request %>
      <p>
        <%= link_to "View join request", edit_guild_join_request_path(guild_id: join_request.guild_id, id: join_request.id) %>
      </p>
    </div>
  </div>
<% end %>

<% if !@join_requests.any? %>
  <div class="alert alert-info mt-5" role="alert">
    <h5>All set</h5>
    <p>You have no pending requests</p>
  </div>
<% end %>