

<% content_for :title do %>
  <h1 class="mt-3">Invite new members</h1>
<% end %>

<div class="mb-5">
  <div class="alert alert-info mb-3">
    <div>
      <p class="">Share this link with friends to join your guild!</p>
      <div class="input-group mb-3" data-controller="clipboard">
        <label class="input-group-text" for="join_request_invite_code">Guild link:</label>
        <input class="form-control" placeholder="Guild Code" type="text" id="join_request_invite_code"
          value="<%= join_url(@guild.invite_code) %>"
          data-disable-with="Copy"
          data-clipboard-target="source" readonly />
        <button type="submit" value="Copy" class="btn btn-secondary rounded-end" 
          data-action="clipboard#copy">
          <i class="bi bi-clipboard-plus"></i> Copy
        </button>

        <div class="toast-container position-fixed top-0 end-0 p-3">
          <div id="toast-clipboard" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success">
              <strong class="me-auto"><i class="bi bi-clipboard-check-fill"></i> Copied!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              Invite link copied to your clipboard
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded p-3">
    <h5><i class="bi bi-info-circle"></i>&nbsp;How does this work?</h5>
    <p>When your friend visits this link, they will be able to request to join your guild.
      (They will need to create a GuildHall account if they don't already have one.)
    </p>
    <p><span class="fw-bold">Guild Administators</span> will approve or deny their request.</p>
  </div>
</div>



<% if can_edit_guild? %>
<hr/>
<h1 class="py-3">Membership Requests</h1>
<% @join_requests.each do |join_request| %>
  <div class="card border shadow bg-body rounded mb-3">
    <div class="card-body">
      <%= render join_request %>
      <p>
        <%= link_to "View join request", edit_join_request_path(id: join_request.id) %>
      </p>
    </div>
  </div>
<% end %>

<% if !@join_requests.any? %>
  <div class="alert alert-info mt-3" role="alert">
    <h5>All set</h5>
    <p>You have no pending requests</p>
  </div>
<% end %>

<% end %>
