
<h1>Join a new Guild</h1>
<div class="mt-5">
  <p>Join a new guild by entering the invite code:</p>
  <%= render "form", join_request: @join_request %>
  <div class="pt-3">
    <p class="fst-italic">A Guild Administator will review your request and approve or deny it.
    <br/>If you don't have an invite code, you can't join a guild but you can 
      <%= link_to "create one", new_guild_path %>.</p>
  </div>
</div>