
<% content_for :title do %>
  <h1 class="mt-3">Join a new Guild</h1>
<% end %>


<div class="mt-5">
  <p>Join a new guild by entering the invite code:</p>
  <%= render "form", join_request: @join_request %>
  <div class="pt-3">
    <p class="fst-italic">A Guild Administator will review your request and approve or deny it.
    <br/>If you don't have an invite code, you can't join a guild but you can 
      <%= link_to "create one", new_guild_path %>.</p>
  </div>
</div>

<% if current_user.join_requests.any? %>
  <div class="mt-5">
    <h3>Your existing requests</h3>
    <ul class="list-group">
      <% current_user.join_requests.each do |join_request| %>
        <li class="list-group-item"><%= join_request.invite_code %>: <%= join_request.status.titleize %></li>
      <% end %>
    </ul>
  </div>
<% end %>