<div class="me-3 mb-3 text-center">
  <% if current_user.avatar.attached? %>
    <%= image_tag(current_user.avatar, class: "profile-icon") %>
    <br/>
  <% end %>
  <p class="m-0 fw-bold"><%= link_to attendee.user.username, user_registration_path(attendee.user) %></p>
  <p class="m-0">(<%= attendee.user.first_name %>)</p>
</div>