<h1>Attendee show</h1>
<%= turbo_frame_tag 'attendance' do %>
  <%= render "attendance", attendee: @attendee %>
  <p><%= link_to "change my response", edit_guild_event_attendee_path(@attendee) %>
<% end %>