
<div class="pusher">
  <div class="ui vertical masthead center aligned segment">


    <div class="ui text container">
      <h1 class="ui header">
        The Guild Hall
      </h1>
      <h2>Come for the friends, stay for the friends</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>

  </div>