<h1>Editing guild event</h1>

<%= render "form", guild_event: @guild_event %>

<br>

<div>
  <%= link_to "Show this guild event", @guild_event %> |
  <%= link_to "Back to guild events", guild_events_path %>
</div>
