<% content_for :title do %>
  <div class="d-flex align-items-center">
    <h1 class="flex-grow-1">Upcoming Events</h1>
    <%= link_to "Create New Event", new_guild_event_path, class: "btn btn-primary text-end" %>
  </div>
<% end %>

<div id="guild_events">
  <div class="row">
    <% @guild_events.each do |guild_event| %>
      <%= render guild_event %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= link_to "Create New Event", new_guild_event_path, class: "btn btn-primary text-end" %>
    </div>
  </div>
</div>