
<% content_for :title do %>
  <h1>Upcoming Event</h1>
<% end %>

<p style="color: green"><%= notice %></p>

<%= render @guild_event %>

<div class="mb-3">
  <%= link_to "Back to guild events", guild_events_path %>
</div>