//@import 'semantic-ui';
@import 'bootstrap';


body { background-color: #f2f2f2;}
.chatbox {
  height: 450px;
}

#messages-outer {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display:none;
  }
}